a {text-decoration: none;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar { height: 3.75em; background-color: #009ee3; color: white; margin: 0; padding: 0 20px; border: 0; display: flex; }
.navBar .logo { width: auto; height: 100%; position: relative; display: flex; }
.navBar .boxLogo { width: 100px; height: auto; padding: 0 20px; }
.navBar .boxLogo img{ width: 100%; height: 100%; }
.navBar .tittle { width: auto; height: 100%; position: relative; display: flex; padding: 0 40px; font-size: 3em; font-weight: bold; color: white; margin: 0; line-height: 100%; }
.navBar .cartIcon{ width: 24px; height: 24px; cursor: pointer; margin-right: 20px;}

  .boxMain { padding: 10px 20px; text-align: center; }